In [60]:
import pandas as pd
from datetime import datetime, timedelta


import scipy.stats as st
from scipy.stats import linregress,pearsonr

In [61]:
# Study data files
Aave_coin_path = "Resources/coin_Aave.csv"
Binance_coin_path = "Resources/coin_BinanceCoin.csv"
Bitcoin_coin_path = "Resources/coin_Bitcoin.csv"
Cardano_coin_path = "Resources/coin_Cardano.csv"
ChainLink_coin_path = "Resources/coin_ChainLink.csv"
Cosmos_coin_path = "Resources/coin_Cosmos.csv"
Cryptocom_coin_path = "Resources/coin_CryptocomCoin.csv"
Dogecoin_coin_path = "Resources/coin_Dogecoin.csv"
EOS_coin_path = "Resources/coin_EOS.csv"
Ethereum_coin_path = "Resources/coin_Ethereum.csv"
Iota_coin_path = "Resources/coin_Iota.csv"
Litecoin_coin_path = "Resources/coin_Litecoin.csv"
Monero_coin_path = "Resources/coin_Monero.csv"
NEM_coin_path = "Resources/coin_NEM.csv"
Polkadot_coin_path = "Resources/coin_Polkadot.csv"
Solana_coin_path = "Resources/coin_Solana.csv"
Stellar_coin_path = "Resources/coin_Stellar.csv"
Tether_coin_path = "Resources/coin_Tether.csv"
Tron_coin_path = "Resources/coin_Tron.csv"
Uniswap_coin_path = "Resources/coin_Uniswap.csv"
USDCoin_coin_path = "Resources/coin_USDCoin.csv"
WrappedBitcoin_coin_path = "Resources/coin_WrappedBitcoin.csv"
XRP_coin_path = "Resources/coin_XRP.csv"


# Read the mouse data and the study results
Aave_coin = pd.read_csv(Aave_coin_path)
Binance_coin = pd.read_csv(Binance_coin_path)
Bitcoin_coin = pd.read_csv(Bitcoin_coin_path)
Cardano_coin = pd.read_csv(Cardano_coin_path)
ChainLink_coin = pd.read_csv(ChainLink_coin_path)
Cosmos_coin = pd.read_csv(Cosmos_coin_path)
Cryptocom_coin = pd.read_csv(Cryptocom_coin_path)
Dogecoin_coin = pd.read_csv(Dogecoin_coin_path)
EOS_coin = pd.read_csv(EOS_coin_path)
Ethereum_coin = pd.read_csv(Ethereum_coin_path)
Iota_coin = pd.read_csv(Iota_coin_path)
Litecoin_coin = pd.read_csv(Litecoin_coin_path)

Monero_coin = pd.read_csv(Monero_coin_path)
NEM_coin = pd.read_csv(NEM_coin_path)
Polkadot_coin = pd.read_csv(Polkadot_coin_path)
Solana_coin = pd.read_csv( Solana_coin_path)
Stellar_coin = pd.read_csv( Stellar_coin_path)
Tether_coin = pd.read_csv(Tether_coin_path)
Tron_coin = pd.read_csv(Tron_coin_path)
Uniswap_coin = pd.read_csv(Uniswap_coin_path)
USDCoin_coin = pd.read_csv( USDCoin_coin_path)
WrappedBitcoin = pd.read_csv(WrappedBitcoin_coin_path)
XRP_coin = pd.read_csv( XRP_coin_path)

In [62]:
#Bitcoin_coin - BTC
Bitcoin_coin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2857,2858,Bitcoin,BTC,2021-02-23 23:59:59,54204.929756,45290.590268,54204.929756,48824.426869,1.061025e+11,9.099259e+11
2858,2859,Bitcoin,BTC,2021-02-24 23:59:59,51290.136695,47213.498162,48835.087661,49705.333316,6.369552e+10,9.263931e+11
2859,2860,Bitcoin,BTC,2021-02-25 23:59:59,51948.966982,47093.853019,49709.082425,47093.853019,5.450657e+10,8.777661e+11
2860,2861,Bitcoin,BTC,2021-02-26 23:59:59,48370.785260,44454.842114,47180.464054,46339.760083,3.509679e+11,8.637523e+11
2861,2862,Bitcoin,BTC,2021-02-27 23:59:59,48253.270101,45269.025766,46344.772237,46188.451275,4.591095e+10,8.609781e+11

In [63]:
Start = '2019-01-01'
End = '2021-12-31'
Bitcoin_coin['Date']= pd.to_datetime(Bitcoin_coin['Date'], dayfirst=True)
BTC_data = (Bitcoin_coin['Date']> Start) & (Bitcoin_coin['Date'] <= End) & (Bitcoin_coin['Symbol'] == 'BTC')
BTC = Bitcoin_coin.loc[BTC_data]
print(BTC)

       SNo     Name Symbol                Date          High           Low  \
2073  2074  Bitcoin    BTC 2019-01-01 23:59:59   3850.913765   3707.231303
2074  2075  Bitcoin    BTC 2019-01-02 23:59:59   3947.981273   3817.409496
2075  2076  Bitcoin    BTC 2019-01-03 23:59:59   3935.685131   3826.222871
2076  2077  Bitcoin    BTC 2019-01-04 23:59:59   3865.934532   3783.853665
2077  2078  Bitcoin    BTC 2019-01-05 23:59:59   3904.903096   3836.900126
...    ...      ...    ...                 ...           ...           ...
2857  2858  Bitcoin    BTC 2021-02-23 23:59:59  54204.929756  45290.590268
2858  2859  Bitcoin    BTC 2021-02-24 23:59:59  51290.136695  47213.498162
2859  2860  Bitcoin    BTC 2021-02-25 23:59:59  51948.966982  47093.853019
2860  2861  Bitcoin    BTC 2021-02-26 23:59:59  48370.785260  44454.842114
2861  2862  Bitcoin    BTC 2021-02-27 23:59:59  48253.270101  45269.025766

              Open         Close        Volume     Marketcap
2073   3746.713387   3843.519967  4.324201e+09  6.709863e+10
2074   3849.216409   3943.409337  5.244857e+09  6.884986e+10
2075   3931.048638   3836.741319  4.530215e+09  6.699492e+10
2076   3832.039968   3857.717619  4.847965e+09  6.736833e+10
2077   3851.973965   3845.194460  5.137610e+09  6.715757e+10
...            ...           ...           ...           ...
2857  54204.929756  48824.426869  1.061025e+11  9.099259e+11
2858  48835.087661  49705.333316  6.369552e+10  9.263931e+11
2859  49709.082425  47093.853019  5.450657e+10  8.777661e+11
2860  47180.464054  46339.760083  3.509679e+11  8.637523e+11
2861  46344.772237  46188.451275  4.591095e+10  8.609781e+11

[789 rows x 10 columns]

In [ ]:
start = datetime(2019, 1,1)
End = datetime(2021-12-31)

m_start = datetime(2019,12,1)

labels = ['Symbol', 'Close', 'Daily']

In [64]:
#Ethereum_coin - ETH 
Ethereum_coin.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,674188.0,4.548689e+07
1,2,Ethereum,ETH,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,532170.0,4.239957e+07
2,3,Ethereum,ETH,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,405283.0,4.281836e+07
3,4,Ethereum,ETH,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1463100.0,6.456929e+07
4,5,Ethereum,ETH,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2150620.0,7.364501e+07

In [30]:
#Ethereum_coin 

Start = '2019-01-01'
End = '2021-12-31'
Ethereum_coin['Date']= pd.to_datetime(Ethereum_coin['Date'], dayfirst=True)
ETH_data = (Ethereum_coin['Date']> Start) & (Ethereum_coin['Date'] <= End) & (Ethereum_coin['Symbol'] == 'ETH')
ETH = Ethereum_coin.loc[ETH_data]
print(ETH)

       SNo      Name Symbol                Date         High          Low  \
1242  1243  Ethereum    ETH 2019-01-01 23:59:59   141.397504   132.650706
1243  1244  Ethereum    ETH 2019-01-02 23:59:59   156.929131   140.650960
1244  1245  Ethereum    ETH 2019-01-03 23:59:59   155.863058   147.198367
1245  1246  Ethereum    ETH 2019-01-04 23:59:59   156.878976   147.907099
1246  1247  Ethereum    ETH 2019-01-05 23:59:59   160.824889   154.337420
...    ...       ...    ...                 ...          ...          ...
2026  2027  Ethereum    ETH 2021-02-23 23:59:59  1781.409018  1378.840907
2027  2028  Ethereum    ETH 2021-02-24 23:59:59  1710.983795  1511.018963
2028  2029  Ethereum    ETH 2021-02-25 23:59:59  1670.224062  1465.058946
2029  2030  Ethereum    ETH 2021-02-26 23:59:59  1559.028891  1407.979253
2030  2031  Ethereum    ETH 2021-02-27 23:59:59  1524.932428  1433.786929

             Open        Close        Volume     Marketcap
1242   133.418145   140.819413  2.258710e+09  1.466532e+10
1243   141.519517   155.047677  3.328240e+09  1.615005e+10
1244   155.196038   149.135003  2.676165e+09  1.553685e+10
1245   148.912894   154.581942  3.126193e+09  1.610707e+10
1246   154.337420   155.638589  3.338212e+09  1.621997e+10
...           ...          ...           ...           ...
2026  1781.409018  1570.203925  5.202986e+10  1.802510e+11
2027  1571.476497  1626.575705  3.132900e+10  1.867440e+11
2028  1625.393882  1475.703735  2.448168e+10  1.694427e+11
2029  1478.653270  1446.033650  3.143600e+10  1.660555e+11
2030  1446.929455  1459.973121  2.074210e+10  1.676759e+11

[789 rows x 10 columns]

In [31]:
#Tether_coin - USDT

Tether_coin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Tether,USDT,2015-02-26 23:59:59,1.212320,1.194710,1.210420,1.205740,5.955460e+00,3.033642e+05
1,2,Tether,USDT,2015-03-02 23:59:59,0.607890,0.568314,0.571249,0.606502,3.032500e+00,1.525959e+05
2,3,Tether,USDT,2015-03-03 23:59:59,0.606229,0.604416,0.605129,0.606229,3.031130e+00,1.525272e+05
3,4,Tether,USDT,2015-03-06 23:59:59,1.000000,1.000000,1.000000,1.000000,9.264720e+01,2.516000e+05
4,5,Tether,USDT,2015-03-07 23:59:59,1.000000,1.000000,1.000000,1.000000,5.819680e+04,2.516000e+05
...,...,...,...,...,...,...,...,...,...,...
2184,2185,Tether,USDT,2021-02-23 23:59:59,1.000542,0.997413,1.000168,1.000032,1.959649e+11,3.476222e+10
2185,2186,Tether,USDT,2021-02-24 23:59:59,1.000882,0.999538,0.999995,1.000757,1.290074e+11,3.491021e+10
2186,2187,Tether,USDT,2021-02-25 23:59:59,1.001207,0.999795,1.000746,1.000149,1.054643e+11,3.492798e+10
2187,2188,Tether,USDT,2021-02-26 23:59:59,1.000379,0.998726,1.000075,0.999994,1.246241e+11,3.500996e+10
2188,2189,Tether,USDT,2021-02-27 23:59:59,1.001311,0.999374,0.999960,1.001178,9.471004e+10,3.502403e+10

In [33]:
Start = '2019-01-01'
End = '2021-12-31'
Tether_coin['Date']= pd.to_datetime(Tether_coin['Date'], dayfirst=True)
USDT_data = (Tether_coin['Date']> Start) & (Tether_coin['Date'] <= End) & (Tether_coin['Symbol'] == 'USDT')
USDT = Tether_coin.loc[USDT_data]
print(USDT)

       SNo    Name Symbol                Date      High       Low      Open  \
1400  1401  Tether   USDT 2019-01-01 23:59:59  1.020800  1.008603  1.015285
1401  1402  Tether   USDT 2019-01-02 23:59:59  1.024012  1.011833  1.017530
1402  1403  Tether   USDT 2019-01-03 23:59:59  1.026825  1.018287  1.020654
1403  1404  Tether   USDT 2019-01-04 23:59:59  1.024858  1.010810  1.023557
1404  1405  Tether   USDT 2019-01-05 23:59:59  1.026343  1.010341  1.015526
...    ...     ...    ...                 ...       ...       ...       ...
2184  2185  Tether   USDT 2021-02-23 23:59:59  1.000542  0.997413  1.000168
2185  2186  Tether   USDT 2021-02-24 23:59:59  1.000882  0.999538  0.999995
2186  2187  Tether   USDT 2021-02-25 23:59:59  1.001207  0.999795  1.000746
2187  2188  Tether   USDT 2021-02-26 23:59:59  1.000379  0.998726  1.000075
2188  2189  Tether   USDT 2021-02-27 23:59:59  1.001311  0.999374  0.999960

         Close        Volume     Marketcap
1400  1.018335  3.139235e+09  1.892773e+09
1401  1.024012  4.442755e+09  1.908446e+09
1402  1.019473  3.487203e+09  1.900261e+09
1403  1.017200  3.895787e+09  1.898444e+09
1404  1.018489  3.993807e+09  1.900850e+09
...        ...           ...           ...
2184  1.000032  1.959649e+11  3.476222e+10
2185  1.000757  1.290074e+11  3.491021e+10
2186  1.000149  1.054643e+11  3.492798e+10
2187  0.999994  1.246241e+11  3.500996e+10
2188  1.001178  9.471004e+10  3.502403e+10

[789 rows x 10 columns]

In [34]:
#Binance_coin - BNB 
Binance_coin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Binance Coin,BNB,2017-07-26 23:59:59,0.109013,0.099266,0.105893,0.105138,2.003950e+05,1.051380e+07
1,2,Binance Coin,BNB,2017-07-27 23:59:59,0.108479,0.100888,0.105108,0.107737,3.444990e+05,1.077370e+07
2,3,Binance Coin,BNB,2017-07-28 23:59:59,0.109019,0.101473,0.107632,0.104067,3.425680e+05,1.040670e+07
3,4,Binance Coin,BNB,2017-07-29 23:59:59,0.111264,0.101108,0.104782,0.107811,3.402180e+05,1.078110e+07
4,5,Binance Coin,BNB,2017-07-30 23:59:59,0.108138,0.103162,0.107935,0.106414,2.242610e+05,1.064140e+07
...,...,...,...,...,...,...,...,...,...,...
1308,1309,Binance Coin,BNB,2021-02-23 23:59:59,268.536845,190.412463,267.364425,230.994252,8.280753e+09,3.569619e+10
1309,1310,Binance Coin,BNB,2021-02-24 23:59:59,280.088196,214.524714,231.121604,254.359132,7.154122e+09,3.930683e+10
1310,1311,Binance Coin,BNB,2021-02-25 23:59:59,264.705134,233.885956,254.467606,233.885956,4.059853e+09,3.614305e+10
1311,1312,Binance Coin,BNB,2021-02-26 23:59:59,238.755012,210.310761,235.270287,221.680429,4.167146e+09,3.425689e+10
1312,1313,Binance Coin,BNB,2021-02-27 23:59:59,237.179435,220.099401,221.980905,225.249443,2.755271e+09,3.480842e+10

In [36]:
Start = '2019-01-01'
End = '2021-12-31'
Binance_coin['Date']= pd.to_datetime(Binance_coin['Date'], dayfirst=True)
BNB_data = (Binance_coin['Date']> Start) & (Binance_coin['Date'] <= End) & (Binance_coin['Symbol'] == 'BNB')
BNB = Binance_coin.loc[BNB_data]
print(BNB)

       SNo          Name Symbol                Date        High         Low  \
524    525  Binance Coin    BNB 2019-01-01 23:59:59    6.191929    5.885122
525    526  Binance Coin    BNB 2019-01-02 23:59:59    6.207873    5.949006
526    527  Binance Coin    BNB 2019-01-03 23:59:59    6.175116    5.901559
527    528  Binance Coin    BNB 2019-01-04 23:59:59    6.065898    5.863714
528    529  Binance Coin    BNB 2019-01-05 23:59:59    6.204376    6.034071
...    ...           ...    ...                 ...         ...         ...
1308  1309  Binance Coin    BNB 2021-02-23 23:59:59  268.536845  190.412463
1309  1310  Binance Coin    BNB 2021-02-24 23:59:59  280.088196  214.524714
1310  1311  Binance Coin    BNB 2021-02-25 23:59:59  264.705134  233.885956
1311  1312  Binance Coin    BNB 2021-02-26 23:59:59  238.755012  210.310761
1312  1313  Binance Coin    BNB 2021-02-27 23:59:59  237.179435  220.099401

            Open       Close        Volume     Marketcap
524     6.191432    6.075273  2.389116e+07  7.946415e+08
525     6.091465    6.188613  3.030861e+07  8.094664e+08
526     6.171907    5.903535  2.282164e+07  7.721782e+08
527     5.895052    6.065138  2.931114e+07  7.933158e+08
528     6.055661    6.065543  3.034064e+07  7.933688e+08
...          ...         ...           ...           ...
1308  267.364425  230.994252  8.280753e+09  3.569619e+10
1309  231.121604  254.359132  7.154122e+09  3.930683e+10
1310  254.467606  233.885956  4.059853e+09  3.614305e+10
1311  235.270287  221.680429  4.167146e+09  3.425689e+10
1312  221.980905  225.249443  2.755271e+09  3.480842e+10

[789 rows x 10 columns]

In [37]:
#Cardano_coin
Cardano_coin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Cardano,ADA,2017-10-02 23:59:59,0.030088,0.019969,0.024607,0.025932,5.764130e+07,6.288991e+08
1,2,Cardano,ADA,2017-10-03 23:59:59,0.027425,0.020690,0.025757,0.020816,1.699780e+07,5.396927e+08
2,3,Cardano,ADA,2017-10-04 23:59:59,0.022806,0.020864,0.020864,0.021931,9.000050e+06,5.686195e+08
3,4,Cardano,ADA,2017-10-05 23:59:59,0.022154,0.020859,0.021951,0.021489,5.562510e+06,5.571390e+08
4,5,Cardano,ADA,2017-10-06 23:59:59,0.021542,0.018360,0.021359,0.018539,7.780710e+06,4.806646e+08
...,...,...,...,...,...,...,...,...,...,...
1240,1241,Cardano,ADA,2021-02-23 23:59:59,1.133705,0.824145,1.098769,0.954709,1.120190e+10,2.970337e+10
1241,1242,Cardano,ADA,2021-02-24 23:59:59,1.074832,0.902583,0.954958,1.051657,8.481335e+09,3.271965e+10
1242,1243,Cardano,ADA,2021-02-25 23:59:59,1.172732,1.017986,1.051349,1.079116,8.248286e+09,3.357399e+10
1243,1244,Cardano,ADA,2021-02-26 23:59:59,1.290047,0.995150,1.080828,1.241105,1.488414e+10,3.861387e+10
1244,1245,Cardano,ADA,2021-02-27 23:59:59,1.476653,1.234138,1.242145,1.324860,1.914198e+10,4.121970e+10

In [38]:
Start = '2019-01-01'
End = '2021-12-31'
Cardano_coin['Date']= pd.to_datetime(Cardano_coin['Date'], dayfirst=True)
ADA_data = (Cardano_coin['Date']> Start) & (Cardano_coin['Date'] <= End) & (Cardano_coin['Symbol'] == 'ADA')
ADA = Cardano_coin.loc[ADA_data]
print(ADA)

       SNo     Name Symbol                Date      High       Low      Open  \
456    457  Cardano    ADA 2019-01-01 23:59:59  0.042547  0.040308  0.040984
457    458  Cardano    ADA 2019-01-02 23:59:59  0.045563  0.041982  0.042568
458    459  Cardano    ADA 2019-01-03 23:59:59  0.045259  0.042535  0.045106
459    460  Cardano    ADA 2019-01-04 23:59:59  0.044092  0.042477  0.042629
460    461  Cardano    ADA 2019-01-05 23:59:59  0.045570  0.043350  0.043659
...    ...      ...    ...                 ...       ...       ...       ...
1240  1241  Cardano    ADA 2021-02-23 23:59:59  1.133705  0.824145  1.098769
1241  1242  Cardano    ADA 2021-02-24 23:59:59  1.074832  0.902583  0.954958
1242  1243  Cardano    ADA 2021-02-25 23:59:59  1.172732  1.017986  1.051349
1243  1244  Cardano    ADA 2021-02-26 23:59:59  1.290047  0.995150  1.080828
1244  1245  Cardano    ADA 2021-02-27 23:59:59  1.476653  1.234138  1.242145

         Close        Volume     Marketcap
456   0.042547  1.496290e+07  1.103114e+09
457   0.045258  2.415153e+07  1.173420e+09
458   0.042682  2.112696e+07  1.106609e+09
459   0.043812  1.602403e+07  1.135912e+09
460   0.044701  2.510096e+07  1.158976e+09
...        ...           ...           ...
1240  0.954709  1.120190e+10  2.970337e+10
1241  1.051657  8.481335e+09  3.271965e+10
1242  1.079116  8.248286e+09  3.357399e+10
1243  1.241105  1.488414e+10  3.861387e+10
1244  1.324860  1.914198e+10  4.121970e+10

[789 rows x 10 columns]

In [39]:
#Dogecoin_coin
Dogecoin_coin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Dogecoin,DOGE,2013-12-16 23:59:59,0.000866,0.000150,0.000299,0.000205,0.000000e+00,1.509085e+06
1,2,Dogecoin,DOGE,2013-12-17 23:59:59,0.000289,0.000116,0.000207,0.000269,0.000000e+00,2.169688e+06
2,3,Dogecoin,DOGE,2013-12-18 23:59:59,0.000362,0.000205,0.000267,0.000362,0.000000e+00,3.188943e+06
3,4,Dogecoin,DOGE,2013-12-19 23:59:59,0.001520,0.000328,0.000395,0.001162,0.000000e+00,1.115034e+07
4,5,Dogecoin,DOGE,2013-12-20 23:59:59,0.001143,0.000662,0.001143,0.000704,0.000000e+00,7.284337e+06
...,...,...,...,...,...,...,...,...,...,...
2626,2627,Dogecoin,DOGE,2021-02-23 23:59:59,0.053768,0.042410,0.053698,0.047392,2.394345e+09,6.089686e+09
2627,2628,Dogecoin,DOGE,2021-02-24 23:59:59,0.059873,0.046216,0.047414,0.056555,4.148512e+09,7.267918e+09
2628,2629,Dogecoin,DOGE,2021-02-25 23:59:59,0.057808,0.049869,0.056615,0.050167,2.356982e+09,6.447665e+09
2629,2630,Dogecoin,DOGE,2021-02-26 23:59:59,0.052472,0.048708,0.050138,0.050480,1.694323e+09,6.488523e+09
2630,2631,Dogecoin,DOGE,2021-02-27 23:59:59,0.051920,0.049297,0.050500,0.050083,1.286230e+09,6.438193e+09

In [41]:
Start = '2019-01-01'
End = '2021-12-31'
Dogecoin_coin['Date']= pd.to_datetime(Dogecoin_coin['Date'], dayfirst=True)
DOGE_data = (Dogecoin_coin['Date']> Start) & (Dogecoin_coin['Date'] <= End) & (Dogecoin_coin['Symbol'] == 'DOGE')
DOGE = Dogecoin_coin.loc[DOGE_data]
print(DOGE)

       SNo      Name Symbol                Date      High       Low      Open  \
1842  1843  Dogecoin   DOGE 2019-01-01 23:59:59  0.002392  0.002322  0.002346
1843  1844  Dogecoin   DOGE 2019-01-02 23:59:59  0.002458  0.002372  0.002388
1844  1845  Dogecoin   DOGE 2019-01-03 23:59:59  0.002414  0.002356  0.002404
1845  1846  Dogecoin   DOGE 2019-01-04 23:59:59  0.002397  0.002274  0.002364
1846  1847  Dogecoin   DOGE 2019-01-05 23:59:59  0.002350  0.002280  0.002320
...    ...       ...    ...                 ...       ...       ...       ...
2626  2627  Dogecoin   DOGE 2021-02-23 23:59:59  0.053768  0.042410  0.053698
2627  2628  Dogecoin   DOGE 2021-02-24 23:59:59  0.059873  0.046216  0.047414
2628  2629  Dogecoin   DOGE 2021-02-25 23:59:59  0.057808  0.049869  0.056615
2629  2630  Dogecoin   DOGE 2021-02-26 23:59:59  0.052472  0.048708  0.050138
2630  2631  Dogecoin   DOGE 2021-02-27 23:59:59  0.051920  0.049297  0.050500

         Close        Volume     Marketcap
1842  0.002392  1.736474e+07  2.814427e+08
1843  0.002407  1.801539e+07  2.831718e+08
1844  0.002360  1.761923e+07  2.776799e+08
1845  0.002315  1.953010e+07  2.724948e+08
1846  0.002319  1.714859e+07  2.729966e+08
...        ...           ...           ...
2626  0.047392  2.394345e+09  6.089686e+09
2627  0.056555  4.148512e+09  7.267918e+09
2628  0.050167  2.356982e+09  6.447665e+09
2629  0.050480  1.694323e+09  6.488523e+09
2630  0.050083  1.286230e+09  6.438193e+09

[789 rows x 10 columns]

In [42]:
#XRP_coin - XRP
XRP_coin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,XRP,XRP,2013-08-05 23:59:59,0.005980,0.005613,0.005875,0.005613,0.000000e+00,4.387916e+07
1,2,XRP,XRP,2013-08-06 23:59:59,0.005661,0.004629,0.005637,0.004680,0.000000e+00,3.659101e+07
2,3,XRP,XRP,2013-08-07 23:59:59,0.004682,0.004333,0.004669,0.004417,0.000000e+00,3.453412e+07
3,4,XRP,XRP,2013-08-08 23:59:59,0.004424,0.004175,0.004397,0.004254,0.000000e+00,3.325863e+07
4,5,XRP,XRP,2013-08-09 23:59:59,0.004367,0.004253,0.004257,0.004291,0.000000e+00,3.354750e+07
...,...,...,...,...,...,...,...,...,...,...
2759,2760,XRP,XRP,2021-02-23 23:59:59,0.570989,0.379302,0.570989,0.473563,1.435902e+10,2.150165e+10
2760,2761,XRP,XRP,2021-02-24 23:59:59,0.499370,0.454759,0.474201,0.471832,8.015469e+09,2.142305e+10
2761,2762,XRP,XRP,2021-02-25 23:59:59,0.482517,0.429103,0.471776,0.434524,5.952354e+09,1.972912e+10
2762,2763,XRP,XRP,2021-02-26 23:59:59,0.450440,0.415559,0.434941,0.427900,6.476254e+09,1.942839e+10
2763,2764,XRP,XRP,2021-02-27 23:59:59,0.457596,0.427904,0.427904,0.437809,4.756623e+09,1.987829e+10

In [43]:
Start = '2019-01-01'
End = '2021-12-31'
XRP_coin['Date']= pd.to_datetime(XRP_coin['Date'], dayfirst=True)
XRP_data = (XRP_coin['Date']> Start) & (XRP_coin['Date'] <= End) & (XRP_coin['Symbol'] == 'XRP')
XRP = XRP_coin.loc[XRP_data]
print(XRP)

       SNo Name Symbol                Date      High       Low      Open  \
1975  1976  XRP    XRP 2019-01-01 23:59:59  0.364771  0.350402  0.352512
1976  1977  XRP    XRP 2019-01-02 23:59:59  0.378021  0.359574  0.365675
1977  1978  XRP    XRP 2019-01-03 23:59:59  0.374505  0.357675  0.374505
1978  1979  XRP    XRP 2019-01-04 23:59:59  0.364642  0.352785  0.359753
1979  1980  XRP    XRP 2019-01-05 23:59:59  0.361069  0.353987  0.356347
...    ...  ...    ...                 ...       ...       ...       ...
2759  2760  XRP    XRP 2021-02-23 23:59:59  0.570989  0.379302  0.570989
2760  2761  XRP    XRP 2021-02-24 23:59:59  0.499370  0.454759  0.474201
2761  2762  XRP    XRP 2021-02-25 23:59:59  0.482517  0.429103  0.471776
2762  2763  XRP    XRP 2021-02-26 23:59:59  0.450440  0.415559  0.434941
2763  2764  XRP    XRP 2021-02-27 23:59:59  0.457596  0.427904  0.427904

         Close        Volume     Marketcap
1975  0.364771  4.493476e+08  1.488050e+10
1976  0.375243  5.432167e+08  1.530769e+10
1977  0.360224  4.388738e+08  1.469501e+10
1978  0.356747  4.506339e+08  1.455320e+10
1979  0.355275  4.520902e+08  1.449313e+10
...        ...           ...           ...
2759  0.473563  1.435902e+10  2.150165e+10
2760  0.471832  8.015469e+09  2.142305e+10
2761  0.434524  5.952354e+09  1.972912e+10
2762  0.427900  6.476254e+09  1.942839e+10
2763  0.437809  4.756623e+09  1.987829e+10

[789 rows x 10 columns]

In [52]:
#USDCoin_coin - USDC
USDCoin_coin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,USD Coin,USDC,2018-10-09 23:59:59,1.008330,1.000030,1.004270,1.006860,1.088030e+05,0.000000e+00
1,2,USD Coin,USDC,2018-10-10 23:59:59,1.019080,1.003970,1.004940,1.009620,7.117830e+05,0.000000e+00
2,3,USD Coin,USDC,2018-10-11 23:59:59,1.031230,1.001730,1.009940,1.009780,4.177290e+06,0.000000e+00
3,4,USD Coin,USDC,2018-10-12 23:59:59,1.018710,1.001140,1.008610,1.012720,1.322240e+06,0.000000e+00
4,5,USD Coin,USDC,2018-10-13 23:59:59,1.020290,1.003550,1.014450,1.007430,6.985070e+05,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
868,869,USD Coin,USDC,2021-02-23 23:59:59,1.001702,0.999658,1.000021,1.000221,4.522386e+09,7.981667e+09
869,870,USD Coin,USDC,2021-02-24 23:59:59,1.003368,0.999824,1.000019,1.000229,2.427751e+09,8.132862e+09
870,871,USD Coin,USDC,2021-02-25 23:59:59,1.000710,0.999959,1.000220,1.000072,2.301652e+09,8.328440e+09
871,872,USD Coin,USDC,2021-02-26 23:59:59,1.000474,0.999709,1.000153,0.999986,2.459413e+09,8.594704e+09
872,873,USD Coin,USDC,2021-02-27 23:59:59,1.000204,0.999790,0.999973,1.000031,1.776838e+09,8.658976e+09

In [53]:
Start = '2019-01-01'
End = '2021-12-31'
USDCoin_coin['Date']= pd.to_datetime(USDCoin_coin['Date'], dayfirst=True)
USDC_data = (USDCoin_coin['Date']> Start) & (USDCoin_coin['Date'] <= End) & (USDCoin_coin['Symbol'] == 'USDC')
USDC = USDCoin_coin.loc[USDC_data]
print(USDC)

     SNo      Name Symbol                Date      High       Low      Open  \
84    85  USD Coin   USDC 2019-01-01 23:59:59  1.022230  1.008677  1.018946
85    86  USD Coin   USDC 2019-01-02 23:59:59  1.020264  1.009168  1.014262
86    87  USD Coin   USDC 2019-01-03 23:59:59  1.022562  1.009954  1.014458
87    88  USD Coin   USDC 2019-01-04 23:59:59  1.017635  1.001058  1.015247
88    89  USD Coin   USDC 2019-01-05 23:59:59  1.016118  1.002453  1.006733
..   ...       ...    ...                 ...       ...       ...       ...
868  869  USD Coin   USDC 2021-02-23 23:59:59  1.001702  0.999658  1.000021
869  870  USD Coin   USDC 2021-02-24 23:59:59  1.003368  0.999824  1.000019
870  871  USD Coin   USDC 2021-02-25 23:59:59  1.000710  0.999959  1.000220
871  872  USD Coin   USDC 2021-02-26 23:59:59  1.000474  0.999709  1.000153
872  873  USD Coin   USDC 2021-02-27 23:59:59  1.000204  0.999790  0.999973

        Close        Volume     Marketcap
84   1.013301  1.700785e+07  2.613534e+08
85   1.018173  1.812581e+07  2.888165e+08
86   1.013577  1.527981e+07  2.907594e+08
87   1.008160  1.720304e+07  2.936216e+08
88   1.011010  1.542817e+07  2.944202e+08
..        ...           ...           ...
868  1.000221  4.522386e+09  7.981667e+09
869  1.000229  2.427751e+09  8.132862e+09
870  1.000072  2.301652e+09  8.328440e+09
871  0.999986  2.459413e+09  8.594704e+09
872  1.000031  1.776838e+09  8.658976e+09

[789 rows x 10 columns]

In [54]:
#Polkadot_coin - DOT
Polkadot_coin.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Polkadot,DOT,2020-08-21 23:59:59,3.090093,2.730919,2.896923,2.875028,4.931314e+07,0.0
1,2,Polkadot,DOT,2020-08-22 23:59:59,4.510613,2.816762,2.878570,4.484690,4.858011e+08,0.0
2,3,Polkadot,DOT,2020-08-23 23:59:59,4.487058,3.716271,4.487058,3.967066,3.207495e+08,0.0
3,4,Polkadot,DOT,2020-08-24 23:59:59,4.783158,3.812670,3.987413,4.602614,4.076902e+08,0.0
4,5,Polkadot,DOT,2020-08-25 23:59:59,5.760775,4.501223,4.584953,5.523393,8.988475e+08,0.0

In [56]:
Start = '2019-01-01'
End = '2021-12-31'
Polkadot_coin['Date']= pd.to_datetime(Polkadot_coin['Date'], dayfirst=True)
DOT_data = (Polkadot_coin['Date']> Start) & (Polkadot_coin['Date'] <= End) & (Polkadot_coin['Symbol'] == 'DOT')
DOT = Polkadot_coin.loc[DOT_data]
print(DOT)

     SNo      Name Symbol                Date       High        Low  \
0      1  Polkadot    DOT 2020-08-21 23:59:59   3.090093   2.730919
1      2  Polkadot    DOT 2020-08-22 23:59:59   4.510613   2.816762
2      3  Polkadot    DOT 2020-08-23 23:59:59   4.487058   3.716271
3      4  Polkadot    DOT 2020-08-24 23:59:59   4.783158   3.812670
4      5  Polkadot    DOT 2020-08-25 23:59:59   5.760775   4.501223
..   ...       ...    ...                 ...        ...        ...
186  187  Polkadot    DOT 2021-02-23 23:59:59  37.714168  26.757643
187  188  Polkadot    DOT 2021-02-24 23:59:59  36.752569  31.975445
188  189  Polkadot    DOT 2021-02-25 23:59:59  35.079181  31.059273
189  190  Polkadot    DOT 2021-02-26 23:59:59  33.497752  28.104011
190  191  Polkadot    DOT 2021-02-27 23:59:59  35.524110  31.396252

          Open      Close        Volume     Marketcap
0     2.896923   2.875028  4.931314e+07  0.000000e+00
1     2.878570   4.484690  4.858011e+08  0.000000e+00
2     4.487058   3.967066  3.207495e+08  0.000000e+00
3     3.987413   4.602614  4.076902e+08  0.000000e+00
4     4.584953   5.523393  8.988475e+08  0.000000e+00
..         ...        ...           ...           ...
186  37.664930  34.300774  7.502138e+09  3.129232e+10
187  34.330861  33.633546  4.724242e+09  3.070688e+10
188  33.621172  31.080660  3.470267e+09  2.838641e+10
189  31.143730  31.346090  5.147314e+09  2.863586e+10
190  31.396252  33.449366  4.507279e+09  3.056786e+10

[191 rows x 10 columns]

In [57]:
#Uniswap_coin - UNI
Uniswap_coin.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Uniswap,UNI,2020-09-18 23:59:59,8.438537,3.261757,3.488153,6.897257,6.061110e+09,6.681116e+08
1,2,Uniswap,UNI,2020-09-19 23:59:59,7.443275,5.321795,6.945577,5.724464,2.447471e+09,5.545076e+08
2,3,Uniswap,UNI,2020-09-20 23:59:59,6.050326,4.720210,5.720515,5.244195,1.554144e+09,5.079857e+08
3,4,Uniswap,UNI,2020-09-21 23:59:59,5.622155,4.160743,5.244195,4.266079,1.329464e+09,4.132392e+08
4,5,Uniswap,UNI,2020-09-22 23:59:59,4.554092,3.755040,4.275014,3.905138,8.162827e+08,3.782762e+08
...,...,...,...,...,...,...,...,...,...,...
158,159,Uniswap,UNI,2021-02-23 23:59:59,27.743926,18.534552,27.708213,24.576645,2.670108e+09,7.411839e+09
159,160,Uniswap,UNI,2021-02-24 23:59:59,27.289320,23.152845,24.651880,25.255146,1.423106e+09,7.617272e+09
160,161,Uniswap,UNI,2021-02-25 23:59:59,26.837709,23.271170,25.245552,23.271170,9.841518e+08,7.018880e+09
161,162,Uniswap,UNI,2021-02-26 23:59:59,25.121830,21.105400,23.416305,23.074512,1.101821e+09,6.960566e+09
162,163,Uniswap,UNI,2021-02-27 23:59:59,24.727901,22.436401,23.098991,23.454720,7.617966e+08,7.310012e+09

In [59]:
Start = '2019-01-01'
End = '2021-12-31'
Uniswap_coin['Date']= pd.to_datetime(Uniswap_coin['Date'], dayfirst=True)
UNI_data = (Uniswap_coin['Date']> Start) & (Uniswap_coin['Date'] <= End) & (Uniswap_coin['Symbol'] == 'UNI')
UNI = Uniswap_coin.loc[UNI_data]
print(UNI)

     SNo     Name Symbol                Date       High        Low       Open  \
0      1  Uniswap    UNI 2020-09-18 23:59:59   8.438537   3.261757   3.488153
1      2  Uniswap    UNI 2020-09-19 23:59:59   7.443275   5.321795   6.945577
2      3  Uniswap    UNI 2020-09-20 23:59:59   6.050326   4.720210   5.720515
3      4  Uniswap    UNI 2020-09-21 23:59:59   5.622155   4.160743   5.244195
4      5  Uniswap    UNI 2020-09-22 23:59:59   4.554092   3.755040   4.275014
..   ...      ...    ...                 ...        ...        ...        ...
158  159  Uniswap    UNI 2021-02-23 23:59:59  27.743926  18.534552  27.708213
159  160  Uniswap    UNI 2021-02-24 23:59:59  27.289320  23.152845  24.651880
160  161  Uniswap    UNI 2021-02-25 23:59:59  26.837709  23.271170  25.245552
161  162  Uniswap    UNI 2021-02-26 23:59:59  25.121830  21.105400  23.416305
162  163  Uniswap    UNI 2021-02-27 23:59:59  24.727901  22.436401  23.098991

         Close        Volume     Marketcap
0     6.897257  6.061110e+09  6.681116e+08
1     5.724464  2.447471e+09  5.545076e+08
2     5.244195  1.554144e+09  5.079857e+08
3     4.266079  1.329464e+09  4.132392e+08
4     3.905138  8.162827e+08  3.782762e+08
..         ...           ...           ...
158  24.576645  2.670108e+09  7.411839e+09
159  25.255146  1.423106e+09  7.617272e+09
160  23.271170  9.841518e+08  7.018880e+09
161  23.074512  1.101821e+09  6.960566e+09
162  23.454720  7.617966e+08  7.310012e+09

[163 rows x 10 columns]

In [10]:
url = 'https://finance.yahoo.com/topic/crypto/'

In [11]:
response = requests.get(url)

In [15]:
soup = BeautifulSoup(response.text,'html.parser' )

In [17]:
soup.body

<body>
<div>
<div data-active="0" id="sign-in-widget">
<a aria-atomic="true" aria-label="Walmart. Save Money. Live Better. Home Page" class="header-logo" href="/">
<span class="spark elc-icon elc-icon-spark elc-icon-36"></span>
</a>
<h1 class="heading heading-d sign-in-widget">
                Verify your identity
            </h1>
<div class="sign-in-widget">
<div class="re-captcha">
<p class="bot-message"> Help us keep your account safe by clicking on the checkbox below.</p>
<div id="px-captcha" style="margin:32px; align-content:center;"></div>
</div>
</div>
<script>
            window._pxAppId = 'PXu6b0qd2S';
            window._pxJsClientSrc = '/px/' + window._pxAppId + '/init.js';
            window._pxFirstPartyEnabled = true;
            window._pxHostUrl = '/px/' + window._pxAppId + '/xhr';
            window._pxreCaptchaTheme = 'light';
            window._PXETnJ2Y5H = {
                challenge: {
                    view: {
                         textFont: "BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif"
                   }
                }
            };

            var hc = getUrlParam('g', 'a');
            var captchajs = "/px/" + window._pxAppId + "/captcha/captcha.js?a=c&m=0&g=" + hc
            </script>
<script id="blockScript"></script>
<script>
            document.getElementById('blockScript').src = captchajs;
            </script>
<div class="lite-footer">
<hr aria-hidden="true" class="divider"/>
<div class="main-container">
<div class="left-section">
<a class="" href="https://help.walmart.com/app/answers/detail/a_id/8">
<span class="u-sentenceCase u-sentenceCase--no-transform">Terms of Use</span>
</a>
<a class="" href="https://corporate.walmart.com/privacy-security">
<span class="u-sentenceCase u-sentenceCase--no-transform">Privacy Policy</span>
</a>
<a class="" href="/account/api/ccpa-intake?native=false&amp;type=sod">
<span class="u-sentenceCase u-sentenceCase--no-transform">Do Not Sell My Personal Information</span>
</a>
<a class="" href="/account/api/ccpa-intake?native=false&amp;type=access">
<span class="u-sentenceCase u-sentenceCase--no-transform">Request My Personal Information</span>
</a>
</div>
<div class="right-section">
<p class="copy-base-ny">©2020 Walmart Stores, Inc.</p>
</div>
</div>
</div>
</div>
</div></body>