## Load Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract

### Store CSVs into DataFrames

In [2]:
bitcoin_file = "Resources/coin_Bitcoin.csv"
ethereum_file = "Resources/coin_Ethereum.csv"
tether_file = "Resources/coin_Tether.csv"
binance_coin_file = "Resources/coin_BinanceCoin.csv"
cardano_file = "Resources/coin_Cardano.csv"
dogecoin_file = "Resources/coin_Dogecoin.csv"
xrp_file = "Resources/coin_XRP.csv"
USD_coin_file = "Resources/coin_USDCoin.csv"
polkadot_file = "Resources/coin_Polkadot.csv"
uniswap_file = "Resources/coin_Uniswap.csv"
bitcoin_df = pd.read_csv(bitcoin_file)
ethereum_df = pd.read_csv(ethereum_file)
tether_df = pd.read_csv(tether_file)
binance_coin_df = pd.read_csv(binance_coin_file)
cardano_df = pd.read_csv(cardano_file)
dogecoin_df = pd.read_csv(dogecoin_file)
xrp_df = pd.read_csv(xrp_file)
USD_coin_df = pd.read_csv(USD_coin_file)
polkadot_df = pd.read_csv(polkadot_file)
uniswap_df = pd.read_csv(uniswap_file)
bitcoin_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

## Transform

### Clean cryptocurrency data and add respective symbols

In [3]:
ethereum_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Ethereum,ETH,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,674188.0,4.548689e+07
1,2,Ethereum,ETH,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,532170.0,4.239957e+07
2,3,Ethereum,ETH,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,405283.0,4.281836e+07
3,4,Ethereum,ETH,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1463100.0,6.456929e+07
4,5,Ethereum,ETH,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2150620.0,7.364501e+07

In [4]:
#Add currency symbols to dataframe (Old CSV Files)
#bitcoin_df.insert(0,'Symbol', 'BTC')
#ethereum_df.insert(0,'Symbol', 'ETH')
#tether_df.insert(0,'Symbol', 'USDT')
#binance_coin_df.insert(0,'Symbol', 'BNB')
#cardano_df.insert(0,'Symbol', 'ADA')
#dogecoin_df.insert(0,'Symbol', 'DOGE')
#xrp_df.insert(0,'Symbol', 'XRP')
#USD_coin_df.insert(0,'Symbol', 'USDC')
#polkadot_df.insert(0,'Symbol', 'DOT')
#uniswap_df.insert(0,'Symbol', 'UNI')

### Check Data Types

In [4]:
bitcoin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2862 entries, 0 to 2861
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2862 non-null   int64
 1   Name       2862 non-null   object
 2   Symbol     2862 non-null   object
 3   Date       2862 non-null   object
 4   High       2862 non-null   float64
 5   Low        2862 non-null   float64
 6   Open       2862 non-null   float64
 7   Close      2862 non-null   float64
 8   Volume     2862 non-null   float64
 9   Marketcap  2862 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 223.7+ KB

### Convert Date to datetime

In [8]:
bitcoin_df['Date']=pd.to_datetime(bitcoin_df['Date'])
ethereum_df['Date']=pd.to_datetime(ethereum_df['Date'])
tether_df['Date']=pd.to_datetime(tether_df['Date'])
binance_coin_df['Date']=pd.to_datetime(binance_coin_df['Date'])
cardano_df['Date']=pd.to_datetime(cardano_df['Date'])
dogecoin_df['Date']=pd.to_datetime(dogecoin_df['Date'])
xrp_df['Date']=pd.to_datetime(xrp_df['Date'])
USD_coin_df['Date']=pd.to_datetime(USD_coin_df['Date'])
polkadot_df['Date']=pd.to_datetime(polkadot_df['Date'])
uniswap_df['Date']=pd.to_datetime(uniswap_df['Date'])

### Convert float64 to int

In [16]:
bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
ethereum_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
tether_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
binance_coin_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
cardano_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
dogecoin_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
xrp_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
USD_coin_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
polkadot_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)
uniswap_df[['High','Low','Open','Close','Volume','Marketcap']] = bitcoin_df[['High','Low','Open','Close','Volume','Marketcap']].astype(int)

### Select DF Columns to Import

In [17]:
bitcoin_df2 = bitcoin_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
ethereum_df2 = ethereum_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
tether_df2 = tether_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
binance_coin_df2 = binance_coin_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
cardano_df2 = cardano_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
dogecoin_df2 = dogecoin_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
xrp_df2 = xrp_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
USD_coin_df2 = USD_coin_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
polkadot_df2 = polkadot_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
uniswap_df2 = uniswap_df[["Symbol","Date","High","Low","Open","Close","Volume","Marketcap"]]
uniswap_df2.head()

  Symbol                Date  High  Low  Open  Close  Volume   Marketcap
0    UNI 2020-09-18 23:59:59   147  134   134    144       0  1603768864
1    UNI 2020-09-19 23:59:59   146  134   144    139       0  1542813125
2    UNI 2020-09-20 23:59:59   139  107   139    116       0  1298954593
3    UNI 2020-09-21 23:59:59   125   92   116    105       0  1168517495
4    UNI 2020-09-22 23:59:59   108   79   106     97       0  1085995168

In [18]:
bitcoin_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2862 entries, 0 to 2861
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     2862 non-null   object
 1   Date       2862 non-null   datetime64[ns]
 2   High       2862 non-null   int32
 3   Low        2862 non-null   int32
 4   Open       2862 non-null   int32
 5   Close      2862 non-null   int32
 6   Volume     2862 non-null   int32
 7   Marketcap  2862 non-null   int32
dtypes: datetime64[ns](1), int32(6), object(1)
memory usage: 111.9+ KB

## Load

### Connect to local database

In [19]:
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [20]:
 engine.table_names()

['cryptocurrency']

### Use pandas to load csv converted DataFrame into database

In [24]:
bitcoin_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
ethereum_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
tether_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
binance_coin_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
cardano_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
dogecoin_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
xrp_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
USD_coin_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
polkadot_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)
uniswap_df2.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the tables

In [28]:
pd.read_sql_query('select * from cryptocurrency', con=engine).head()

  Symbol                Date  High  Low  Open  Close  Volume   Marketcap
0    BTC 2013-04-29 23:59:59   147  134   134    144       0  1603768864
1    BTC 2013-04-30 23:59:59   146  134   144    139       0  1542813125
2    BTC 2013-05-01 23:59:59   139  107   139    116       0  1298954593
3    BTC 2013-05-02 23:59:59   125   92   116    105       0  1168517495
4    BTC 2013-05-03 23:59:59   108   79   106     97       0  1085995168