## Load Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract

### Store CSVs into DataFrames

In [2]:
bitcoin_file = "Resources/Bitcoin BTC.csv"
ethereum_file = "Resources/Ethereum ETH.csv"
tether_file = "Resources/Tether USDT.csv"
binance_coin_file = "Resources/Binance Coin BNB.csv"
cardano_file = "Resources/Cardano ADA.csv"
dogecoin_file = "Resources/Dogecoin DOGE.csv"
xrp_file = "Resources/XRP XRP.csv"
USD_coin_file = "Resources/USD Coin USDC.csv"
polkadot_file = "Resources/Polkadot DOT.csv"
uniswap_file = "Resources/Uniswap UNI.csv"
bitcoin_df = pd.read_csv(bitcoin_file)
ethereum_df = pd.read_csv(ethereum_file)
tether_df = pd.read_csv(tether_file)
binance_coin_df = pd.read_csv(binance_coin_file)
cardano_df = pd.read_csv(cardano_file)
dogecoin_df = pd.read_csv(dogecoin_file)
xrp_df = pd.read_csv(xrp_file)
USD_coin_df = pd.read_csv(USD_coin_file)
polkadot_df = pd.read_csv(polkadot_file)
uniswap_df = pd.read_csv(uniswap_file)
bitcoin_df.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,9-Jun-21,"$33,416.98","$37,537.37","$32,475.87","$37,345.12","$53,972,919,008","$699,516,138,698"
1,8-Jun-21,"$33,589.52","$34,017.39","$31,114.44","$33,472.63","$49,902,050,442","$626,954,944,879"
2,7-Jun-21,"$35,835.27","$36,790.57","$33,480.64","$33,560.71","$33,683,936,663","$628,572,961,759"
3,6-Jun-21,"$35,538.61","$36,436.42","$35,304.58","$35,862.38","$28,913,440,585","$671,652,557,855"
4,5-Jun-21,"$36,880.16","$37,917.71","$34,900.41","$35,551.96","$35,959,473,399","$665,804,639,833"

## Transform

### Clean cryptocurrency data and add respective symbols

In [7]:
ethereum_df.head()

,Symbol,Date,Open*,High,Low,Close**,Volume,Market Cap
0,ETH,9-Jun-21,"$2,510.20","$2,625.07","$2,412.20","$2,608.27","$36,075,832,186","$303,147,462,062"
1,ETH,8-Jun-21,"$2,594.60","$2,620.85","$2,315.55","$2,517.44","$41,909,736,778","$292,557,075,207"
2,ETH,7-Jun-21,"$2,713.05","$2,845.19","$2,584.00","$2,590.26","$30,600,111,277","$300,985,400,826"
3,ETH,6-Jun-21,"$2,629.75","$2,743.44","$2,616.16","$2,715.09","$25,311,639,414","$315,453,931,558"
4,ETH,5-Jun-21,"$2,691.62","$2,817.48","$2,558.23","$2,630.58","$30,496,672,724","$305,598,725,249"

In [3]:
#Add currency symbols to dataframe
bitcoin_df.insert(0,'Symbol', 'BTC')
ethereum_df.insert(0,'Symbol', 'ETH')
tether_df.insert(0,'Symbol', 'USDT')
binance_coin_df.insert(0,'Symbol', 'BNB')
cardano_df.insert(0,'Symbol', 'ADA')
dogecoin_df.insert(0,'Symbol', 'DOGE')
xrp_df.insert(0,'Symbol', 'XRP')
USD_coin_df.insert(0,'Symbol', 'USDC')
polkadot_df.insert(0,'Symbol', 'DOT')
uniswap_df.insert(0,'Symbol', 'UNI')

In [13]:
bitcoin_df.head()

,Symbol,Date,Open*,High,Low,Close**,Volume,Market Cap
0,BTC,9-Jun-21,"$33,416.98","$37,537.37","$32,475.87","$37,345.12","$53,972,919,008","$699,516,138,698"
1,BTC,8-Jun-21,"$33,589.52","$34,017.39","$31,114.44","$33,472.63","$49,902,050,442","$626,954,944,879"
2,BTC,7-Jun-21,"$35,835.27","$36,790.57","$33,480.64","$33,560.71","$33,683,936,663","$628,572,961,759"
3,BTC,6-Jun-21,"$35,538.61","$36,436.42","$35,304.58","$35,862.38","$28,913,440,585","$671,652,557,855"
4,BTC,5-Jun-21,"$36,880.16","$37,917.71","$34,900.41","$35,551.96","$35,959,473,399","$665,804,639,833"

### Check Data Types

In [25]:
bitcoin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      730 non-null    object
 1   Date        730 non-null    datetime64[ns]
 2   Open*       730 non-null    object
 3   High        730 non-null    object
 4   Low         730 non-null    object
 5   Close**     730 non-null    object
 6   Volume      730 non-null    object
 7   Market Cap  730 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 45.8+ KB

In [24]:
## Convert date object to datetime64
bitcoin_df['Date'] =  pd.to_datetime(bitcoin_df['Date'])
ethereum_df['Date'] =  pd.to_datetime(ethereum_df['Date'])
tether_df['Date'] =  pd.to_datetime(tether_df['Date'])
binance_coin_df['Date'] =  pd.to_datetime(binance_coin_df['Date'])
cardano_df['Date'] =  pd.to_datetime(cardano_df['Date'])
dogecoin_df['Date'] =  pd.to_datetime(dogecoin_df['Date'])
xrp_df['Date'] =  pd.to_datetime(xrp_df['Date'])
USD_coin_df['Date'] =  pd.to_datetime(USD_coin_df['Date'])
polkadot_df['Date'] =  pd.to_datetime(polkadot_df['Date'])
uniswap_df['Date'] =  pd.to_datetime(uniswap_df['Date'])

In [27]:
## Convert remaining objects to integers
#bitcoin_df['Open*','High','Low','Close**','Volume','Market Cap'].astype(int)
bitcoin_df['Open*'].astype(int)

ValueError: invalid literal for int() with base 10: '$33,416.98 '

### Connect to local database

In [10]:
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [11]:
 engine.table_names()

['cryptocurrency']

### Use pandas to load csv converted DataFrame into database

In [12]:
 bitcoin_df.to_sql(name='cryptocurrency', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type integer: "$33,416.98 "
LINE 1: ...Volume", "Market Cap") VALUES ('BTC', '9-Jun-21', '$33,416.9...
                                                             ^

[SQL: INSERT INTO cryptocurrency ("Symbol", "Date", "Open*", "High", "Low", "Close**", "Volume", "Market Cap") VALUES (%(Symbol)s, %(Date)s, %(Open*)s, %(High)s, %(Low)s, %(Close**)s, %(Volume)s, %(Market Cap)s)]
[parameters: ({'Symbol': 'BTC', 'Date': '9-Jun-21', 'Open*': '$33,416.98 ', 'High': '$37,537.37 ', 'Low': '$32,475.87 ', 'Close**': '$37,345.12 ', 'Volume': '$53,972,919,008 ', 'Market Cap': '$699,516,138,698 '}, {'Symbol': 'BTC', 'Date': '8-Jun-21', 'Open*': '$33,589.52 ', 'High': '$34,017.39 ', 'Low': '$31,114.44 ', 'Close**': '$33,472.63 ', 'Volume': '$49,902,050,442 ', 'Market Cap': '$626,954,944,879 '}, {'Symbol': 'BTC', 'Date': '7-Jun-21', 'Open*': '$35,835.27 ', 'High': '$36,790.57 ', 'Low': '$33,480.64 ', 'Close**': '$33,560.71 ', 'Volume': '$33,683,936,663 ', 'Market Cap': '$628,572,961,759 '}, {'Symbol': 'BTC', 'Date': '6-Jun-21', 'Open*': '$35,538.61 ', 'High': '$36,436.42 ', 'Low': '$35,304.58 ', 'Close**': '$35,862.38 ', 'Volume': '$28,913,440,585 ', 'Market Cap': '$671,652,557,855 '}, {'Symbol': 'BTC', 'Date': '5-Jun-21', 'Open*': '$36,880.16 ', 'High': '$37,917.71 ', 'Low': '$34,900.41 ', 'Close**': '$35,551.96 ', 'Volume': '$35,959,473,399 ', 'Market Cap': '$665,804,639,833 '}, {'Symbol': 'BTC', 'Date': '4-Jun-21', 'Open*': '$39,242.49 ', 'High': '$39,242.49 ', 'Low': '$35,717.72 ', 'Close**': '$36,894.41 ', 'Volume': '$41,831,090,187 ', 'Market Cap': '$690,915,072,093 '}, {'Symbol': 'BTC', 'Date': '3-Jun-21', 'Open*': '$37,599.41 ', 'High': '$39,478.95 ', 'Low': '$37,243.97 ', 'Close**': '$39,208.77 ', 'Volume': '$35,460,750,427 ', 'Market Cap': '$734,224,332,239 '}, {'Symbol': 'BTC', 'Date': '2-Jun-21', 'Open*': '$36,699.92 ', 'High': '$38,231.34 ', 'Low': '$35,966.31 ', 'Close**': '$37,575.18 ', 'Volume': '$33,070,867,190 ', 'Market Cap': '$703,599,671,425 '}  ... displaying 10 of 730 total bound parameter sets ...  {'Symbol': 'BTC', 'Date': '12-Jun-19', 'Open*': '$7,925.43 ', 'High': '$8,196.65 ', 'Low': '$7,862.36 ', 'Close**': '$8,145.86 ', 'Volume': '$19,034,432,883 ', 'Market Cap': '$144,634,684,711 '}, {'Symbol': 'BTC', 'Date': '11-Jun-19', 'Open*': '$8,004.24 ', 'High': '$8,026.39 ', 'Low': '$7,772.80 ', 'Close**': '$7,927.71 ', 'Volume': '$17,107,279,932 ', 'Market Cap': '$140,748,537,530 '})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)

### Confirm data has been added by querying the tables