In [223]:
import pandas as pd
from datetime import datetime as dt
import scipy.stats as st
from scipy.stats import linregress,pearsonr

In [224]:
# Study data files

Binance_coin_path = "Resources/data/coin_BinanceCoin.csv"
Bitcoin_coin_path = "Resources/data/coin_Bitcoin.csv"
Cardano_coin_path = "Resources/data/coin_Cardano.csv"
Dogecoin_coin_path = "Resources/data/coin_Dogecoin.csv"
Ethereum_coin_path = "Resources/data/coin_Ethereum.csv"
Polkadot_coin_path = "Resources/data/coin_Polkadot.csv"
Tether_coin_path = "Resources/data/coin_Tether.csv"
Uniswap_coin_path = "Resources/data/coin_Uniswap.csv"
USDCoin_coin_path = "Resources/data/coin_USDCoin.csv"
XRP_coin_path = "Resources/data/coin_XRP.csv"


# Read the cryptocurrency data and the study results

Binance_coin = pd.read_csv(Binance_coin_path)
Bitcoin_coin = pd.read_csv(Bitcoin_coin_path)
Cardano_coin = pd.read_csv(Cardano_coin_path)
Dogecoin_coin = pd.read_csv(Dogecoin_coin_path)
Ethereum_coin = pd.read_csv(Ethereum_coin_path)
Polkadot_coin = pd.read_csv(Polkadot_coin_path)
Tether_coin = pd.read_csv(Tether_coin_path)
Uniswap_coin = pd.read_csv(Uniswap_coin_path)
USDCoin_coin = pd.read_csv( USDCoin_coin_path)
XRP_coin = pd.read_csv(XRP_coin_path)

In [225]:
#Bitcoin_coin - BTC  
#Clean up data

Bitcoin_coin = Bitcoin_coin.drop(columns = {'SNo', 'Name'})
Bitcoin_coin['Volume']=Bitcoin_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Bitcoin_coin['Marketcap']=Bitcoin_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Bitcoin_coin[['High', 'Low', 'Open', 'Close']]= Bitcoin_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [226]:
Bitcoin_coin.head()

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,BTC,2013-04-29 23:59:59,147.49,134.00,134.44,144.54,0.00,1603768864.50
1,BTC,2013-04-30 23:59:59,146.93,134.05,144.00,139.00,0.00,1542813125.00
2,BTC,2013-05-01 23:59:59,139.89,107.72,139.00,116.99,0.00,1298954593.75
3,BTC,2013-05-02 23:59:59,125.60,92.28,116.38,105.21,0.00,1168517495.25
4,BTC,2013-05-03 23:59:59,108.13,79.10,106.25,97.75,0.00,1085995168.75

In [227]:
Start = '2019-06-11'
End = '2021-06-21'

Bitcoin_coin['Date']= pd.to_datetime(Bitcoin_coin['Date'], dayfirst=True)
Bitcoin_coin ['Date'] = pd.to_datetime(Bitcoin_coin['Date'].dt.strftime('%Y-%m'))
BTC_data = (Bitcoin_coin['Date']> Start) & (Bitcoin_coin['Date'] <= End) 
BTC = Bitcoin_coin.loc[BTC_data]
BTC

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2254,BTC,2019-07-01,11206.44,10089.31,10796.93,10583.13,29378589324.45,188297637573.83
2255,BTC,2019-07-01,10912.19,9737.88,10588.68,10801.68,31015895222.96,192206536805.97
2256,BTC,2019-07-01,11968.08,10818.16,10818.16,11961.27,30796494293.77,212867079175.50
2257,BTC,2019-07-01,12006.08,11166.57,11972.72,11215.44,25920294033.34,199617404431.54
2258,BTC,2019-07-01,11395.66,10874.96,11203.10,10978.46,23838480210.05,195424678267.02
...,...,...,...,...,...,...,...,...
2857,BTC,2021-02-01,54204.93,45290.59,54204.93,48824.43,106102492824.11,909925854460.21
2858,BTC,2021-02-01,51290.14,47213.50,48835.09,49705.33,63695521388.34,926393090750.51
2859,BTC,2021-02-01,51948.97,47093.85,49709.08,47093.85,54506565949.11,877766126138.33
2860,BTC,2021-02-01,48370.79,44454.84,47180.46,46339.76,350967941479.06,863752275053.08
2861,BTC,2021-02-01,48253.27,45269.03,46344.77,46188.45,45910946381.80,860978135421.44

In [228]:
BTC.groupby("Date").mean()

                    High           Low          Open         Close
Date
2019-07-01  11025.668387  10290.467419  10691.706452  10669.336452
2019-08-01  10861.748065  10385.926129  10657.745806  10643.248065
2019-09-01   9973.391667   9647.337667   9858.141667   9814.067667
2019-10-01   8577.835161   8249.077097   8382.431290   8411.929355
2019-11-01   8542.318000   8245.797333   8427.103000   8373.572667
2019-12-01   7411.171290   7175.216452   7296.352258   7284.013548
2020-01-01   8490.319677   8202.997419   8318.949355   8389.270000
2020-02-01   9791.163103   9473.435862   9656.214828   9630.722069
2020-03-01   7182.895161   6619.606452   6943.507419   6871.015484
2020-04-01   7352.325000   7045.441000   7150.611000   7224.476667
2020-05-01   9451.186452   9048.870323   9237.761290   9263.151935
2020-06-01   9606.908333   9342.358000   9499.797000   9489.226667
2020-07-01   9672.627419   9434.338710   9519.382903   9589.899355
2020-08-01  11827.761613  11453.378710  11639.097742  11652.394194
2020-09-01  10844.910333  10470.011667  10689.700000  10660.277000
2020-10-01  12018.847742  11648.077097  11791.306774  11886.978387
2020-11-01  16945.980667  16064.074333  16450.120667  16645.757333
2020-12-01  22354.685806  21229.361613  21680.541290  21983.136774
2021-01-01  36206.557742  32705.657097  34652.962258  34761.650323
2021-02-01  47747.229259  44232.775556  45863.150741  46350.095556

In [229]:
#Ethereum_coin - ETH 

Ethereum_coin=Ethereum_coin.drop(columns = {'SNo', 'Name'})
Ethereum_coin['Volume']=Ethereum_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Ethereum_coin['Marketcap']=Ethereum_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Ethereum_coin[['High', 'Low', 'Open', 'Close']]= Ethereum_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [230]:
Start = '2019-06-11'
End = '2021-06-21'
Ethereum_coin['Date']= pd.to_datetime(Ethereum_coin['Date'], dayfirst=True)
Ethereum_coin ['Date'] = pd.to_datetime(Ethereum_coin['Date'].dt.strftime('%Y-%m'))
ETH_data = (Ethereum_coin['Date']> Start) & (Ethereum_coin['Date'] <= End) 
ETH = Ethereum_coin.loc[ETH_data]
ETH

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
1423,ETH,2019-07-01,301.03,280.02,290.27,293.64,10292223947.84,31338571563.33
1424,ETH,2019-07-01,295.66,272.60,293.54,291.60,10618413951.80,31124332020.84
1425,ETH,2019-07-01,303.34,291.40,291.76,303.10,9926711979.20,32356299765.43
1426,ETH,2019-07-01,303.96,282.77,303.03,284.52,8403513105.73,30377082393.61
1427,ETH,2019-07-01,293.92,282.69,284.38,288.00,8723493015.22,30751916426.87
...,...,...,...,...,...,...,...,...
2026,ETH,2021-02-01,1781.41,1378.84,1781.41,1570.20,52029864712.80,180251030148.47
2027,ETH,2021-02-01,1710.98,1511.02,1571.48,1626.58,31329000537.33,186743952485.76
2028,ETH,2021-02-01,1670.22,1465.06,1625.39,1475.70,24481681872.94,169442679395.07
2029,ETH,2021-02-01,1559.03,1407.98,1478.65,1446.03,31435997880.72,166055498546.28
2030,ETH,2021-02-01,1524.93,1433.79,1446.93,1459.97,20742103232.83,167675937684.41

In [231]:
ETH.groupby("Date").mean()

                   High          Low         Open        Close
Date
2019-07-01   256.830000   240.560645   250.595484   248.290000
2019-08-01   204.587097   195.470968   201.309355   199.817097
2019-09-01   190.158333   180.862333   185.712333   185.992667
2019-10-01   183.377742   175.205806   179.136129   179.251935
2019-11-01   177.397333   170.543000   174.660333   173.652667
2019-12-01   140.910000   135.654839   138.784839   138.040645
2020-01-01   159.442903   152.113871   155.320645   156.972581
2020-02-01   245.454138   229.151034   237.376897   238.756207
2020-03-01   169.510323   154.011290   163.235161   160.376452
2020-04-01   175.956333   166.017667   169.488667   171.947667
2020-05-01   212.502581   202.587097   207.346452   208.125806
2020-06-01   240.172000   231.529000   236.269000   236.158333
2020-07-01   262.695484   252.190323   255.554516   259.404839
2020-08-01   411.359032   388.712903   399.326129   402.153226
2020-09-01   381.871333   354.469667   370.883000   368.372667
2020-10-01   383.293871   367.993548   375.362903   376.223226
2020-11-01   496.747333   464.714667   478.697000   486.144333
2020-12-01   637.746129   599.672258   618.537419   622.488387
2021-01-01  1259.225161  1109.895806  1184.996774  1202.502903
2021-02-01  1773.249630  1623.373333  1704.989630  1710.317778

In [232]:
#Tether_coin - USDT

Tether_coin=Tether_coin.drop(columns = {'SNo', 'Name'})
Tether_coin['Volume']=Tether_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Tether_coin['Marketcap']=Tether_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Tether_coin[['High', 'Low', 'Open', 'Close']]= Tether_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [233]:
Start = '2019-06-11'
End = '2021-06-21'
Tether_coin['Date']= pd.to_datetime(Tether_coin['Date'], dayfirst=True)
Tether_coin ['Date'] = pd.to_datetime(Tether_coin['Date'].dt.strftime('%Y-%m'))

USDT_data = (Tether_coin['Date']> Start) & (Tether_coin['Date'] <= End) 
USDT = Tether_coin.loc[USDT_data]
USDT

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
1581,USDT,2019-07-01,1.00,0.98,0.99,1.00,28817659769.75,3586361277.11
1582,USDT,2019-07-01,1.01,0.98,1.00,1.00,29747160958.50,3619787351.57
1583,USDT,2019-07-01,1.01,0.99,1.00,1.01,27680469384.59,3651596466.49
1584,USDT,2019-07-01,1.01,1.00,1.00,1.00,24764753311.13,3663725121.47
1585,USDT,2019-07-01,1.01,1.00,1.00,1.00,22749205292.58,3694148235.97
...,...,...,...,...,...,...,...,...
2184,USDT,2021-02-01,1.00,1.00,1.00,1.00,195964923867.28,34762222903.16
2185,USDT,2021-02-01,1.00,1.00,1.00,1.00,129007383618.00,34910214474.60
2186,USDT,2021-02-01,1.00,1.00,1.00,1.00,105464333624.93,34927984530.90
2187,USDT,2021-02-01,1.00,1.00,1.00,1.00,124624106848.34,35009955967.45
2188,USDT,2021-02-01,1.00,1.00,1.00,1.00,94710037976.68,35024034646.23

In [234]:
USDT.groupby("Date").mean()

                High       Low      Open     Close
Date
2019-07-01  1.010323  0.992581  1.001290  1.001935
2019-08-01  1.010000  0.994839  1.000323  1.000323
2019-09-01  1.013333  0.999333  1.002333  1.002000
2019-10-01  1.013548  0.995484  1.003548  1.003871
2019-11-01  1.016000  0.997667  1.004000  1.004000
2019-12-01  1.017419  0.994516  1.005484  1.004839
2020-01-01  1.011935  0.994194  1.000645  1.000968
2020-02-01  1.010345  0.994138  1.000000  1.000345
2020-03-01  1.018387  0.983871  1.000323  1.000645
2020-04-01  1.012000  0.992667  1.002667  1.002333
2020-05-01  1.013548  0.993871  1.001613  1.001613
2020-06-01  1.009333  0.996667  1.000000  1.000000
2020-07-01  1.006129  0.997097  1.000645  1.000645
2020-08-01  1.012258  0.998710  1.000968  1.000968
2020-09-01  1.009333  0.997333  1.000333  1.000333
2020-10-01  1.000000  1.000000  1.000000  1.000000
2020-11-01  1.000000  1.000000  1.000000  1.000000
2020-12-01  1.000000  1.000000  1.000000  1.000000
2021-01-01  1.000000  0.999677  1.000000  1.000000
2021-02-01  1.000000  1.000000  1.000000  1.000000

In [235]:
#Binance_coin - BNB 

Binance_coin=Binance_coin.drop(columns = {'SNo', 'Name'})
Binance_coin['Volume']=Binance_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Binance_coin['Marketcap']=Binance_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Binance_coin[['High', 'Low', 'Open', 'Close']]= Binance_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [236]:
Start = '2019-06-11'
End = '2021-06-21'
Binance_coin['Date']= pd.to_datetime(Binance_coin['Date'], dayfirst=True)
Binance_coin ['Date'] = pd.to_datetime(Binance_coin['Date'].dt.strftime('%Y-%m'))
BNB_data = (Binance_coin['Date']> Start) & (Binance_coin['Date'] <= End) 
BNB = Binance_coin.loc[BNB_data]
BNB

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
705,BNB,2019-07-01,33.93,31.69,32.44,32.92,290190904.20,4647821413.63
706,BNB,2019-07-01,33.46,30.88,32.92,32.01,348029976.71,4518919330.53
707,BNB,2019-07-01,33.09,31.80,32.03,32.67,248895676.49,4611850529.55
708,BNB,2019-07-01,34.31,32.38,32.69,32.89,348186707.35,4643731176.15
709,BNB,2019-07-01,33.64,32.45,33.00,32.71,232575483.68,4618296905.43
...,...,...,...,...,...,...,...,...
1308,BNB,2021-02-01,268.54,190.41,267.36,230.99,8280752930.04,35696185048.45
1309,BNB,2021-02-01,280.09,214.52,231.12,254.36,7154121651.12,39306825005.83
1310,BNB,2021-02-01,264.71,233.89,254.47,233.89,4059853073.09,36143048172.20
1311,BNB,2021-02-01,238.76,210.31,235.27,221.68,4167145957.64,34256894118.13
1312,BNB,2021-02-01,237.18,220.10,221.98,225.25,2755271254.14,34808423808.26

In [237]:
BNB.groupby("Date").mean()

                  High         Low        Open       Close
Date
2019-07-01   31.081290   29.344839   30.287742   30.122258
2019-08-01   28.015161   26.828710   27.543871   27.334516
2019-09-01   20.780333   19.705333   20.368667   20.186667
2019-10-01   18.157742   17.196774   17.615484   17.742581
2019-11-01   19.241667   18.320000   18.897333   18.752667
2019-12-01   14.631290   14.060323   14.383548   14.317419
2020-01-01   16.590323   15.786452   16.142903   16.288387
2020-02-01   22.615517   21.029655   21.885517   21.925862
2020-03-01   14.959677   13.405484   14.311935   14.085161
2020-04-01   15.558000   14.710667   15.049667   15.199333
2020-05-01   16.981290   16.232581   16.613226   16.612258
2020-06-01   16.828667   16.307667   16.626000   16.571667
2020-07-01   18.103871   17.333871   17.642903   17.811613
2020-08-01   22.998387   21.864194   22.454516   22.530968
2020-09-01   26.605000   24.065667   25.303333   25.499000
2020-10-01   30.165161   28.805484   29.518710   29.480968
2020-11-01   29.541000   27.917667   28.701333   28.793667
2020-12-01   32.278710   30.359677   31.273226   31.463871
2021-01-01   42.962581   39.825806   41.531290   41.749355
2021-02-01  168.225185  134.425185  149.080741  155.745926

In [238]:
#Cardano_coin - ADA
Cardano_coin=Cardano_coin.drop(columns = {'SNo', 'Name'})
Cardano_coin['Volume']=Cardano_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Cardano_coin['Marketcap']=Cardano_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Cardano_coin[['High', 'Low', 'Open', 'Close']]= Cardano_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [239]:
Start = '2019-06-11'
End = '2021-06-21'
Cardano_coin ['Date'] = pd.to_datetime(Cardano_coin['Date'], dayfirst=True)

Cardano_coin ['Date'] = pd.to_datetime(Cardano_coin['Date'].dt.strftime('%Y-%m'))

ADA_data = (Cardano_coin['Date']> Start) & (Cardano_coin['Date'] <= End) 
ADA = Cardano_coin.loc[ADA_data]
ADA

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
637,ADA,2019-07-01,0.09,0.08,0.08,0.08,168654990.56,2173260576.26
638,ADA,2019-07-01,0.08,0.08,0.08,0.08,180980795.46,2102087913.60
639,ADA,2019-07-01,0.08,0.08,0.08,0.08,154492406.58,2151890421.23
640,ADA,2019-07-01,0.08,0.08,0.08,0.08,142713204.69,2016443988.55
641,ADA,2019-07-01,0.08,0.08,0.08,0.08,116391599.15,1984253355.45
...,...,...,...,...,...,...,...,...
1240,ADA,2021-02-01,1.13,0.82,1.10,0.95,11201900117.08,29703373312.87
1241,ADA,2021-02-01,1.07,0.90,0.95,1.05,8481334623.13,32719650909.08
1242,ADA,2021-02-01,1.17,1.02,1.05,1.08,8248286269.20,33573986144.56
1243,ADA,2021-02-01,1.29,1.00,1.08,1.24,14884142108.70,38613872246.43
1244,ADA,2021-02-01,1.48,1.23,1.24,1.32,19141980288.04,41219695427.29

In [240]:
ADA.groupby("Date").mean()

                High       Low      Open     Close
Date
2019-07-01  0.068387  0.064839  0.067419  0.066774
2019-08-01  0.052258  0.050323  0.051290  0.050645
2019-09-01  0.047667  0.044333  0.046333  0.046333
2019-10-01  0.040000  0.040000  0.040000  0.040000
2019-11-01  0.041333  0.039333  0.040333  0.040333
2019-12-01  0.035484  0.034516  0.035161  0.034839
2020-01-01  0.043871  0.039355  0.040323  0.041290
2020-02-01  0.060690  0.058276  0.059655  0.059655
2020-03-01  0.036452  0.034194  0.035806  0.035161
2020-04-01  0.037333  0.034667  0.036000  0.036667
2020-05-01  0.055806  0.051613  0.053226  0.053871
2020-06-01  0.083000  0.079000  0.081667  0.082000
2020-07-01  0.125806  0.117419  0.120968  0.123226
2020-08-01  0.136774  0.127419  0.132581  0.131935
2020-09-01  0.098667  0.091667  0.095667  0.095000
2020-10-01  0.105484  0.100000  0.102581  0.102581
2020-11-01  0.124667  0.112333  0.118333  0.120667
2020-12-01  0.164839  0.150645  0.157097  0.157419
2021-01-01  0.330968  0.287419  0.308065  0.312903
2021-02-01  0.891111  0.758519  0.811481  0.847778

In [241]:
#Dogecoin_coin - DOGE 
Dogecoin_coin=Dogecoin_coin.drop(columns = {'SNo', 'Name'})
Dogecoin_coin['Volume']=Dogecoin_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Dogecoin_coin['Marketcap']=Dogecoin_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Dogecoin_coin[['High', 'Low', 'Open', 'Close']]= Dogecoin_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [242]:
Start = '2019-06-11'
End = '2021-06-21'
Dogecoin_coin['Date']= pd.to_datetime(Dogecoin_coin['Date'], dayfirst=True)
Dogecoin_coin ['Date'] = pd.to_datetime(Dogecoin_coin['Date'].dt.strftime('%Y-%m'))

DOGE_data = (Dogecoin_coin['Date']> Start) & (Dogecoin_coin['Date'] <= End) 
DOGE= Dogecoin_coin.loc[DOGE_data]
DOGE

     Symbol       Date  High   Low  Open  Close         Volume      Marketcap
2023   DOGE 2019-07-01  0.00  0.00  0.00   0.00    42771993.07   389069550.77
2024   DOGE 2019-07-01  0.00  0.00  0.00   0.00    41581109.26   385000907.76
2025   DOGE 2019-07-01  0.00  0.00  0.00   0.00    37586127.39   398204900.64
2026   DOGE 2019-07-01  0.00  0.00  0.00   0.00    36433330.35   388085562.58
2027   DOGE 2019-07-01  0.00  0.00  0.00   0.00   187924151.07   464839135.60
...     ...        ...   ...   ...   ...    ...            ...            ...
2626   DOGE 2021-02-01  0.05  0.04  0.05   0.05  2394345360.88  6089686350.69
2627   DOGE 2021-02-01  0.06  0.05  0.05   0.06  4148511571.38  7267918251.33
2628   DOGE 2021-02-01  0.06  0.05  0.06   0.05  2356982021.71  6447664671.36
2629   DOGE 2021-02-01  0.05  0.05  0.05   0.05  1694323465.91  6488523368.56
2630   DOGE 2021-02-01  0.05  0.05  0.05   0.05  1286229525.84  6438192651.99

[608 rows x 8 columns]

In [243]:
DOGE.groupby("Date").mean()

                High      Low      Open     Close
Date
2019-07-01  0.000000  0.00000  0.000000  0.000000
2019-08-01  0.000000  0.00000  0.000000  0.000000
2019-09-01  0.000000  0.00000  0.000000  0.000000
2019-10-01  0.000000  0.00000  0.000000  0.000000
2019-11-01  0.000000  0.00000  0.000000  0.000000
2019-12-01  0.000000  0.00000  0.000000  0.000000
2020-01-01  0.000000  0.00000  0.000000  0.000000
2020-02-01  0.000000  0.00000  0.000000  0.000000
2020-03-01  0.000000  0.00000  0.000000  0.000000
2020-04-01  0.000000  0.00000  0.000000  0.000000
2020-05-01  0.000000  0.00000  0.000000  0.000000
2020-06-01  0.000000  0.00000  0.000000  0.000000
2020-07-01  0.000645  0.00000  0.000000  0.000000
2020-08-01  0.000000  0.00000  0.000000  0.000000
2020-09-01  0.000000  0.00000  0.000000  0.000000
2020-10-01  0.000000  0.00000  0.000000  0.000000
2020-11-01  0.000000  0.00000  0.000000  0.000000
2020-12-01  0.000323  0.00000  0.000000  0.000000
2021-01-01  0.015484  0.01129  0.012581  0.013548
2021-02-01  0.060000  0.05037  0.056296  0.056667

In [244]:
#XRP_coin - XRP
XRP_coin=XRP_coin.drop(columns = {'SNo', 'Name'})
XRP_coin['Volume']=XRP_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
XRP_coin['Marketcap']=XRP_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
XRP_coin[['High', 'Low', 'Open', 'Close']]= XRP_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [245]:
Start = '2019-06-11'
End = '2021-06-21'
XRP_coin['Date']= pd.to_datetime(XRP_coin['Date'], dayfirst=True)
XRP_coin ['Date'] = pd.to_datetime(XRP_coin['Date'].dt.strftime('%Y-%m'))

XRP_data = (XRP_coin['Date']> Start) & (XRP_coin['Date'] <= End) 
XRP = XRP_coin.loc[XRP_data]
XRP

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
2156,XRP,2019-07-01,0.42,0.39,0.40,0.41,1783852225.56,17318727257.43
2157,XRP,2019-07-01,0.41,0.38,0.41,0.40,1676193189.42,17035325314.44
2158,XRP,2019-07-01,0.41,0.40,0.40,0.41,1436716899.50,17389810699.44
2159,XRP,2019-07-01,0.41,0.39,0.41,0.39,1385563454.13,16546425930.25
2160,XRP,2019-07-01,0.39,0.38,0.39,0.38,1286860594.51,16131219596.41
...,...,...,...,...,...,...,...,...
2759,XRP,2021-02-01,0.57,0.38,0.57,0.47,14359021785.90,21501649334.26
2760,XRP,2021-02-01,0.50,0.45,0.47,0.47,8015468859.30,21423051552.55
2761,XRP,2021-02-01,0.48,0.43,0.47,0.43,5952353923.51,19729119199.09
2762,XRP,2021-02-01,0.45,0.42,0.43,0.43,6476253874.48,19428392307.28
2763,XRP,2021-02-01,0.46,0.43,0.43,0.44,4756622832.91,19878291691.35

In [246]:
XRP.groupby("Date").mean()

                High       Low      Open     Close
Date
2019-07-01  0.352903  0.334516  0.345161  0.342581
2019-08-01  0.291290  0.280000  0.287742  0.285484
2019-09-01  0.268000  0.255667  0.262333  0.262667
2019-10-01  0.286452  0.274194  0.279355  0.280968
2019-11-01  0.267667  0.256667  0.264000  0.261667
2019-12-01  0.211935  0.204194  0.209032  0.207742
2020-01-01  0.225484  0.215484  0.219677  0.221290
2020-02-01  0.283793  0.266207  0.275172  0.274483
2020-03-01  0.191290  0.176452  0.184839  0.182903
2020-04-01  0.196000  0.187000  0.191333  0.192333
2020-05-01  0.208710  0.202258  0.206129  0.205806
2020-06-01  0.194667  0.190333  0.192333  0.191333
2020-07-01  0.206129  0.196774  0.199355  0.202258
2020-08-01  0.299032  0.280968  0.288710  0.289355
2020-09-01  0.251667  0.239667  0.246333  0.245000
2020-10-01  0.251935  0.242258  0.247742  0.247742
2020-11-01  0.388000  0.338667  0.356667  0.371000
2020-12-01  0.512903  0.446774  0.489032  0.474839
2021-01-01  0.307742  0.264839  0.280323  0.288710
2021-02-01  0.532593  0.457407  0.492593  0.490741

In [247]:
#USDCoin_coin - USDC
USDCoin_coin=USDCoin_coin.drop(columns = {'SNo', 'Name'})
USDCoin_coin['Volume']=USDCoin_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
USDCoin_coin['Marketcap']=USDCoin_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
USDCoin_coin[['High', 'Low', 'Open', 'Close']]= USDCoin_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [248]:
Start = '2019-06-11'
End = '2021-06-21'
USDCoin_coin['Date']= pd.to_datetime(USDCoin_coin['Date'], dayfirst=True)
USDCoin_coin ['Date'] = pd.to_datetime(USDCoin_coin['Date'].dt.strftime('%Y-%m'))
USDC_data = (USDCoin_coin['Date']> Start) & (USDCoin_coin['Date'] <= End) 
USDC = USDCoin_coin.loc[USDC_data]
USDC

    Symbol       Date  High   Low  Open  Close         Volume      Marketcap
265   USDC 2019-07-01  1.01  1.00   1.0    1.0   180323705.36   367612314.17
266   USDC 2019-07-01  1.01  0.99   1.0    1.0   197506894.28   370243192.64
267   USDC 2019-07-01  1.01  0.99   1.0    1.0   187818875.70   366894722.44
268   USDC 2019-07-01  1.01  1.00   1.0    1.0   157145205.07   366400452.12
269   USDC 2019-07-01  1.01  0.99   1.0    1.0   105604888.66   367267504.43
..     ...        ...   ...   ...   ...    ...            ...            ...
868   USDC 2021-02-01  1.00  1.00   1.0    1.0  4522385569.19  7981667377.21
869   USDC 2021-02-01  1.00  1.00   1.0    1.0  2427751205.91  8132862059.56
870   USDC 2021-02-01  1.00  1.00   1.0    1.0  2301651549.52  8328439670.29
871   USDC 2021-02-01  1.00  1.00   1.0    1.0  2459413406.34  8594704361.52
872   USDC 2021-02-01  1.00  1.00   1.0    1.0  1776838289.37  8658975905.81

[608 rows x 8 columns]

In [249]:
USDC.groupby("Date").mean()

                High       Low      Open     Close
Date
2019-07-01  1.009677  0.993871  1.000000  1.000000
2019-08-01  1.011613  0.996129  1.000000  1.000000
2019-09-01  1.012667  0.998333  1.000667  1.000667
2019-10-01  1.012581  0.994516  1.001613  1.001935
2019-11-01  1.015667  0.998000  1.004000  1.004000
2019-12-01  1.013871  0.997742  1.005806  1.005806
2020-01-01  1.015806  0.999677  1.005484  1.006774
2020-02-01  1.025172  1.007931  1.014483  1.013448
2020-03-01  1.015161  0.981613  0.997742  0.998710
2020-04-01  1.008333  0.990000  1.000000  1.001000
2020-05-01  1.008387  0.993871  1.000323  1.000323
2020-06-01  1.007000  0.997000  1.000000  1.000000
2020-07-01  1.005161  0.998065  1.000323  1.000645
2020-08-01  1.004194  0.998387  1.000645  1.000323
2020-09-01  1.006000  0.999667  1.000000  1.000000
2020-10-01  1.000000  1.000000  1.000000  1.000000
2020-11-01  1.000000  0.999667  1.000000  1.000000
2020-12-01  1.000323  0.999355  1.000000  1.000000
2021-01-01  1.000000  1.000000  1.000000  1.000000
2021-02-01  1.000000  1.000000  1.000000  1.000000

In [250]:
#Polkadot_coin - DOT
Polkadot_coin=Polkadot_coin.drop(columns = {'SNo', 'Name'})
Polkadot_coin['Volume']=Polkadot_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Polkadot_coin['Marketcap']=Polkadot_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Polkadot_coin[['High', 'Low', 'Open', 'Close']]= Polkadot_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [251]:
Start = '2019-06-11'
End = '2021-06-21'
Polkadot_coin['Date']= pd.to_datetime(Polkadot_coin['Date'], dayfirst=True)
Polkadot_coin ['Date'] = pd.to_datetime(Polkadot_coin['Date'].dt.strftime('%Y-%m'))

DOT_data = (Polkadot_coin['Date']> Start) & (Polkadot_coin['Date'] <= End) 
DOT = Polkadot_coin.loc[DOT_data]
DOT

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,DOT,2020-08-01,3.09,2.73,2.90,2.88,49313136.83,0.00
1,DOT,2020-08-01,4.51,2.82,2.88,4.48,485801095.85,0.00
2,DOT,2020-08-01,4.49,3.72,4.49,3.97,320749483.24,0.00
3,DOT,2020-08-01,4.78,3.81,3.99,4.60,407690170.88,0.00
4,DOT,2020-08-01,5.76,4.50,4.58,5.52,898847538.46,0.00
...,...,...,...,...,...,...,...,...
186,DOT,2021-02-01,37.71,26.76,37.66,34.30,7502138161.95,31292320713.93
187,DOT,2021-02-01,36.75,31.98,34.33,33.63,4724242061.86,30706882058.91
188,DOT,2021-02-01,35.08,31.06,33.62,31.08,3470266685.26,28386405741.51
189,DOT,2021-02-01,33.50,28.10,31.14,31.35,5147313877.80,28635864215.63
190,DOT,2021-02-01,35.52,31.40,31.40,33.45,4507278635.87,30567858010.02

In [252]:
DOT.groupby("Date").mean()

                 High        Low       Open      Close
Date
2020-08-01   5.594545   4.648182   4.940000   5.240909
2020-09-01   5.083333   4.532667   4.871000   4.807000
2020-10-01   4.320000   4.051613   4.187419   4.180323
2020-11-01   4.894333   4.522667   4.700000   4.735667
2020-12-01   5.586774   5.115484   5.287097   5.413871
2021-01-01  14.440645  12.469032  13.403226  13.618710
2021-02-01  29.189630  25.385926  27.140741  27.788519

In [253]:
#Uniswap_coin - UNI
Uniswap_coin=Uniswap_coin.drop(columns = {'SNo', 'Name'})
Uniswap_coin['Volume']=Uniswap_coin['Volume'].apply(lambda x:'{:.2f}'.format(x))
Uniswap_coin['Marketcap']=Uniswap_coin['Marketcap'].apply(lambda x:'{:.2f}'.format(x))
Uniswap_coin[['High', 'Low', 'Open', 'Close']]= Uniswap_coin[['High', 'Low', 'Open', 'Close']].round(2)

In [254]:
Start = '2019-06-11'
End = '2021-06-21'
Uniswap_coin['Date']= pd.to_datetime(Uniswap_coin['Date'], dayfirst=True)
Uniswap_coin ['Date'] = pd.to_datetime(Uniswap_coin['Date'].dt.strftime('%Y-%m'))

UNI_data = (Uniswap_coin['Date']> Start) & (Uniswap_coin['Date'] <= End) 
UNI = Uniswap_coin.loc[UNI_data]
UNI

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,UNI,2020-09-01,8.44,3.26,3.49,6.90,6061110197.71,668111645.02
1,UNI,2020-09-01,7.44,5.32,6.95,5.72,2447471305.09,554507578.81
2,UNI,2020-09-01,6.05,4.72,5.72,5.24,1554143599.06,507985734.87
3,UNI,2020-09-01,5.62,4.16,5.24,4.27,1329464490.17,413239181.61
4,UNI,2020-09-01,4.55,3.76,4.28,3.91,816282684.41,378276197.43
...,...,...,...,...,...,...,...,...
158,UNI,2021-02-01,27.74,18.53,27.71,24.58,2670108296.19,7411839335.72
159,UNI,2021-02-01,27.29,23.15,24.65,25.26,1423106271.48,7617271888.99
160,UNI,2021-02-01,26.84,23.27,25.25,23.27,984151754.43,7018879586.77
161,UNI,2021-02-01,25.12,21.11,23.42,23.07,1101820829.20,6960566064.49
162,UNI,2021-02-01,24.73,22.44,23.10,23.45,761796612.62,7310011683.65

In [255]:
UNI.groupby("Date").mean()

                 High        Low       Open      Close
Date
2020-09-01   5.543846   4.316154   4.803077   4.850000
2020-10-01   3.300323   2.947097   3.149677   3.093871
2020-11-01   3.437333   3.004667   3.196333   3.241000
2020-12-01   3.797742   3.401290   3.572903   3.617742
2021-01-01   9.496774   8.009032   8.550000   8.952903
2021-02-01  23.484444  20.174074  21.774444  21.993333